@model IEnumerable<Doctor>


<table class="table mt-2">
    <tr>
        <th>Name</th>
        <th>MedicalField</th>
        <th>PhoneNumber</th>
        <th>Department</th>
        <th>Image</th>
    </tr>
    @foreach (var doctor in Model)
    {
        <tr>
            <td>@doctor.Name</td>
            <td>@doctor.MedicalField</td>
            <td>@doctor.PhoneNumber</td>
            <td>@doctor.Department?.Name</td>
            <td>
                <img src="@doctor.ProfileImageUrl" alt="Doctor Image=" width="50" height="50" />
            </td>
        </tr>
    }
</table>
